.holder {
    display: flex;                   /* Use flexbox */
    flex-direction: row;             /* Items appear in a row */
    justify-content: space-evenly;   /* Evenly space items */
    flex-wrap: wrap;                 /* Move extra items to next line instead of squashing */
}

.item {
    padding: 20px;
    background: lightgray;
    border: 1px solid #000;
}
